<li class="word-<%= word.id %>">
  <div class="row">
    <div class="word-content"><span class="col-md-10"><%= word.content %></span></div>
    <div class="word-content"><span class="col-md-2">
      <% if word.answers.correct.any?  %>
        <%= word.answers.correct.first.content %>
      <% end %>
    </span></div>
  </div>
</li>